*{
    margin: 0;
    padding: 0;
}

#banner {
    background: linear-gradient(rgba(0,0,0.2,0.2),#001029), url(./logo/001.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.logo {
    width: 150px;
    position: absolute;
    top: 5%;
    left: 6%;

}

.banner-text {
    color: aliceblue;
    text-align: center;
    padding-top: 180px;
    
}
.banner-text h1 {
    font-size: 130px;
    font-family: 'Noto Serif', serif;

}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}